<div class="login-container">
    <div class="login-box">
      <div class="logo">
        <img src="assets/logo.png" alt="Esculape Logo" class="erp-logo" />
        <h1>PharmaERP HMIMV</h1>
      </div>
      <form class="login-form" (ngSubmit)="login()">
        <input type="text" id="username" placeholder="Identifiant" [(ngModel)]="username" name="username" required />
        <input type="password" id="password" placeholder="Mot de passe" [(ngModel)]="password" name="password" required />
        <button type="submit">Se connecter</button>
        <p *ngIf="loginError" class="error">{{ loginError }}</p>
      </form>
    </div>
  </div>
  