<div class="dashboard-container">
  <nav class="dashboard-sidebar">
    <div class="sidebar-header">
      <h1>PharmaERP HMIMV</h1>
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="/marches"><i class="fas fa-chart-line"></i> Marchés & BL</a></li>
      <li><a routerLink="/gestion-entre"><i class="fas fa-inbox"></i> Entrées</a></li>
      <li><a routerLink="/reapprovisionnement"><i class="fas fa-sync-alt"></i> Réapprovisionnement</a></li>
      <li><a routerLink="/gestion-sorties"><i class="fas fa-sign-out-alt"></i> Sorties</a></li>
      <li><a routerLink="/exploitation"><i class="fas fa-cogs"></i> Exploitation</a></li>
      <li><a routerLink="/configuration"><i class="fas fa-cogs"></i> Configuration</a></li>
      <li><a routerLink="/administration"><i class="fas fa-tools"></i> Administration</a></li>
    </ul>
    
    
  </nav>
  <div class="dashboard-content">
    <router-outlet></router-outlet> <!-- Content will load here -->
  </div>
</div>
